html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    margin: auto;
    max-width: 1300px;
    flex-direction: column;
    width: 100%;
}


.body>*{
    display: flex;
}

.index__main{
    flex-direction: row;
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    overflow-y: auto;
    padding: 1px;
    flex-wrap:wrap;
    border: black 2px solid;
    list-style-type: none;
}
.actor__pers,.movie__fil{
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    margin: 0;
    padding: 1px;
}
.actor__info,.movie__info{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: fit-content;
}
.actor__main,.movie__main,.form__movie{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0;
    overflow-y: auto;
    padding: 1px;
    border: black 2px solid;
    list-style-type: none;
}
.actor__perso,.movie__post{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 150px;
}
.actor__avatar,.movie__img{
    display: flex;
    flex: 1 1 auto;
    object-fit: contain;
}
.actor__movies,.movie__actors{
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
}
.actor__movie,.movie__actor{
    display: flex;
    flex-direction: row;
    flex:1 1 auto;
    text-decoration: none;
}
.actor__movie__infos,.movie__actor__infos{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}
.movie__infos__imp{
    display: flex;
    flex-direction: row;
}
.movie__infos__imp>*{
    display: flex;
    padding: 1px;
    margin: 0;
    border: gray 10px solid;
    justify-content: center;
    align-items: center;
    white-space: normal;
    font-size: 200%;
    color: black;
}
.actor__movie__title{
    flex: 1 1 auto;
}
.actor__movie__role,.movie__actor__role,.movie__actor__name{
    font-size: 400%;
    color: black;
    justify-content: center;
    align-items: center;
}
.movie__modifs{
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
}
.movie__mod,.movie__del{
    display: flex;
    flex:1 1 auto;
    padding: 1px;
    margin: 0;
    border: gray 10px solid;
    justify-content: center;
    width: 80%;
}
.genres>a>img{
    display: flex;
    flex:0 0 auto;
    padding: 1px;
    margin: 0;
    max-width: 100%;
}
.genres>a{
    display: flex;
    flex: 0 0 auto;
    border: black 2px solid;
    max-height: 30px;
    max-width: 30px;
    justify-content: center;
}
.movie__release{
    display: flex;
    flex-direction: row;
}
.form__movie>*{
    display: flex;
    flex:1 1 auto;
    padding: 0;
    margin: 0;
    border: gray 10px solid;
    justify-content: center;
    align-items: center;
    white-space: normal;
}
.form__movie>label>input,.form__movie>label>textarea{
    display: flex;
    flex: 1 1 auto;
    height:100%;
}
.form__movie>label>h2{
    display: flex;
    flex:0 0 auto;
    padding: 1px;
    margin: 0;
    border: gray 10px solid;
    justify-content: center;
    align-items: center;
    white-space: normal;
}
.form__synopsis{
    width: 75%;
    height:100%;
}
.actor__birthday,.actor__bio, .actor__name,.actor__pob,.actor__movie__role,.movie__release>*,.movie__origin__title,.movie__tagline,.movie__overview, .movie__actor__role, .movie__actor__name{
    display: flex;
    flex:1 1 auto;
    padding: 1px;
    margin: 0;
    border: gray 10px solid;
    justify-content: center;
    align-items: center;
    white-space: normal;
}

.header, .footer {
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    flex: 0 0 auto;
    justify-content: center;
}
header>h1{
    display: flex;
    padding: 1px;
    font-size: 100%;
    flex: 2 2 auto;
    border: black 2px solid;
    margin:0;
    align-items: center;
    justify-content: center;
    width: 150%;
    white-space: nowrap;
}
.illustration{
    display: flex;
    flex: 0 0 0;
    overflow: hidden;
}


.movie,.movie>a{
    display: flex;
    flex-direction: column;
    padding: 0;
    flex: 1 1 auto;
}
.movie{
    max-width:33.33%;
}
.movie__title,.movie__poster{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    border: gray 10px solid;
    font-size: 66.66%;
}
.movie__poster{
    flex: 0 0 auto;
}
.movie{
    flex: 0 0 auto;
}
.movie__title,.actor__name{
    flex: 1 1 auto;
}

.footer__text{
    padding: 2px;
    white-space: nowrap;
    border: black 2px solid;
}
.genres{
    display: flex;
    flex-direction: row;
}
.genres>select{
    display: flex;
    flex: 1 1 auto;
}
.genres>h1{
    display: flex;
    flex: 0 0 auto;
    font-size: 20px;
    border: black 2px solid;
    padding: 2px;
    align-items: stretch;
    margin:0;
}



@media (min-width: 700px){
    .movie{
        max-width:25%;
    }
    .movie__title,.actor__name{
        font-size: 100%;
    }
    header>h1{
        font-size: 200%;
    }
}
@media (min-width: 1000px){
    .cinema{
        overflow:hidden;
    }
    .movie{
        max-width:20%;
    }
    .movie__title,.actor__name{
        font-size: 150%;
    }
    header>h1{
        font-size: 300%;
    }
}